# IDEA files
.vscode
.idea/

# Byte-compiled / optimized / DLL files
*.o
__pycache__/
*.py[cod]

# CMake common files
build/

# external dependencies
# external_deps/ 
#     --> commented out temporarily as external dependencies are added to 
#     the repo until fetching/downloading as part of build is sorted out.

# OS specific files
.DS_Store

